div{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    width: 699px;
    height: 339px;
    border-style: solid;
    border-width: 10px 35px 55px 46px
}

h1 {
     margin: 25px;
     padding: 10px;
     font-weight: normal;
}


p {
    font-size: 16px;
    font-size: 2rem;
    display: inline;
    margin-left: 10px;
    font-family:  'Times New Roman', Times, serif;
    
}



img {
    margin-left: 30px;
    height: 50px;
    width: 50px;
}